.section-eventos{}
.section-eventos .conteudo{padding: 0 0 0 100px;}
.section-eventos .titulo{margin: 1em 0 0;}
.section-eventos .filtros{margin: 1em 0 0; display: flex; gap: 0.5em; justify-content: flex-end;}
.section-eventos .input-container{position: relative;}
.section-eventos .icon{position: absolute; right: 12px; top: 50%; transform: translateY(-50%);}

.section-eventos .filtros .input{height: 38px; min-width: 240px; border-radius: 30px;padding: 0 16px; border: none; background: var(--cinza-3); color: rgba(0, 0, 0, 0.7);   appearance: none;}
.section-eventos .filtros .input::placeholder{color: rgba(0, 0, 0, 0.7);}

.section-eventos .lista-eventos{display: flex; gap: 24px; margin: 24px 0 ; flex-wrap: wrap;}
.section-eventos .lista-eventos .card-eventos{box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); border-radius: 20px; overflow: hidden; }
.section-eventos .lista-eventos .card-eventos .imagem-container{aspect-ratio: 330/ 256; width: 252px; display: flex; justify-content: center; align-items: center;}
.section-eventos .lista-eventos .card-eventos .imagem-container .imagem{width: 70%; }
.section-eventos .lista-eventos .card-eventos .textos{background: var(--branco); padding: 10px 16px 8px;}
