@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');


:root{
  --branco: #fff;
  --rosa-1: #F2C1C4;
  --rosa-2: #E7BDB1;
  --verde-1: #3B6456;
  --cinza-1: #dadada;
  --cinza-2: #B4b4b4;
  --cinza-3: #ECE6F0;
  --cinza-4: #6C6C6C;

  --font-1: "Baloo 2", sans-serif;

  --thin: 100;
  --extralight: 200;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --black: 900;
}

*{
  font-family: var(--font-1);
}

body {background: var(--cinza-1);}
.conteudo-95{max-width: 95vw; margin: 0 auto;}
.imagem-container{display: flex; align-items: center; justify-content: center; }
.imagem-container img{width: 100%; height: 100%; object-fit: contain; }

.titulo.t1{font-size: 32px; color: var(--verde-1)}
.texto.t1{font-size: 20px; color: var(--verde-1); font-weight: var(--semibold);}
.texto.t2{font-size: 12.8px; color: var(--cinza-4); font-weight: var(--medium);}